<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
	<link rel="stylesheet" href="{% static '/css/style.css' %}">

	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>

	<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

	{% block header %}
	<title>{% block title %}Buenos Aires Tech{% endblock %}</title>
	{% endblock header %}

	<meta property="og:title" content="Buenos Aires Tech" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://buenosairestech.org/" />
	<meta property="og:image" content="http://buenosairestech.org/static/images/logo-tags.jpg" />
	<meta property="og:description" content="¡Aplicá y participá de la comunidad emprendedora más grande de Buenos Aires!" />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Emprendedores tecnológicos conectados">
	<meta name="twitter:description" content="¡Aplicá y participá de la comunidad emprendedora más grande de Buenos Aires!">
	<meta name="twitter:image" content="http://buenosairestech.org/static/images/logo-tags.jpg">

</head>
<body>
	{% block content %}

	{% endblock content %}

	{% block scripts %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="{% static '/js/main.js' %}"></script>
		<script src="{% static '/js/typed.js' %}"></script>
		<script>
		  $(function(){
		      $(".typed").typed({
		        strings: ["#buenosairestech"],
		        typeSpeed: 90
		      });
		  });
		</script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-78606747-1', 'auto');
		  ga('send', 'pageview');

		</script>
	{% endblock scripts%}
</body>
</html>
